* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: myFont;
    src: url(Ubuntu-Regular.ttf);
}


h1{
    display: flex;
    font-family: myFont;
    color: white;
    background-color: #38474D;
    padding: 10px;
    justify-content: center;
}

nav {
    display: flex;
    font-family: myFont;
    color: #fff;
    background-color: #15262D;
    padding: 3px;
    justify-content: center;
}


.c {
    color: white;

    text-decoration: none;
    padding-right: 30px;
    padding-left: 30px;
    border-right:  solid;
    transition: background-color 0.8s;
    
}

.c:hover {
    color: #15262D;
    background-color: white;
    
}

.d {
    color: inherit;

    text-decoration: none;
    padding-right: 30px;
    padding-left: 30px;
    transition: background-color 0.8s;
}

.d:hover {
    color: #15262D;
    background-color: white;
    
}

/* BODY------------------------------------ */

.body-container {
    display: flex;
    font-family: myFont;
    background-color: #38474D;
    justify-content: center;

}

.body-container a {
    color: #15262D;
    
}



/* --------------------------------------------------------   */

#manga {
    overflow: hidden;
    padding-top: 20px;
    
    align-items: center;
    
}

#manga .onepiece {
    display: flex;
    flex-wrap: wrap;
    background-color: #15262D;
    padding: 10px;
    border:  #5B686D;
    border-radius: 10px;
    transition: background-color 1s ease-out;
}

#manga .onepiece:hover {
    background-color: white;
 
}

#manga .onepiece img {
    float: left;
    width: 150px;
    height: auto;
    border: ridge #5B686D;
    border-radius: 20px;
    margin: 10px;
    
}


#manga .onepiece p {
    float: right;
    color: #a3b9c2;
    margin: 10px;
    transition: background-color 0.8s;
}


#manga .onepiece p:hover {
    color: #15262D;
    
}

/* --------------------------------------------------------------- */

#manga .jjk {
    display: flex;
    flex-wrap: wrap;
    background-color: #15262D;
    padding: 10px;
    margin-top: 30px;
    border:  #5B686D;
    border-radius: 10px;
    transition: background-color 1s ease-out;
}

#manga .jjk:hover {
    background-color: white;
 
}

#manga .jjk img {
    float: left;
    width: 150px;
    height: auto;
    border: ridge #5B686D;
    border-radius: 20px;
    margin: 10px;
    
}


#manga .jjk p {
    float: right;
    color: #a3b9c2;
    margin: 10px;
    transition: background-color 0.8s;
}


#manga .jjk p:hover {
    color: #15262D;
    
}

/* ----------------------------------------------------------------------- */

#manga .skmd {
    display: flex;
    flex-wrap: wrap;
    background-color: #15262D;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    border:  #5B686D;
    border-radius: 10px;
    transition: background-color 1s ease-out;
}

#manga .skmd:hover {
    background-color: white;
 
}

#manga .skmd img {
    float: left;
    width: 150px;
    height: auto;
    border: ridge #5B686D;
    border-radius: 20px;
    margin: 10px;
    
}


#manga .skmd p {
    float: right;
    color: #a3b9c2;
    margin: 10px;
    transition: background-color 0.8s;
}


#manga .skmd p:hover {
    color: #15262D;
    
}

/* ------------------------------------------------------------ */
.bottom-container {
    display: flex;
    /* background-color: #7E898D;  */
    /* border-top: solid; */
    
    font-family: myFont;
    padding-bottom: none;
    justify-content: center;
}

.bottom-container .aboutUs {
    padding: 10px;
    text-align: center;
}